.App {
}

.App-list {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.employeenav {
    background-color: #F8F8F8;
    float: left;
    width: 37%;
    height: 100vh;
    padding: 15px;
    overflow: auto;
}

.employeenav ul {
    list-style-type: none;
    margin-left: .4em;
    padding: 0; 
}

.employeenav_person:hover {
    background-color: lightblue;
}

.employeemain {
  text-align: center;
  padding: 15px;
}

@media screen and (max-width:600px) {
    .employeenav {
        width: 100%;
    }
}
